@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --hand:#388E3C;
  --leaf:#7CB342;
  --ringg:#9CCC65;
  --textg:#689F38;
  --water:#29B6F6;
  --earth:#6D4C41;
}
.brand-gradient{ background: linear-gradient(135deg, var(--leaf), var(--hand)); }
